<% layout('layouts/boilerplate') %>
<div class="row">
  <h1>Edit Manager</h1>
  <div class="col-6 offset-3">
    <form action="/managers/<%=manager._id%>?_method=PUT" method="POST">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="manager[name]" value="<%=manager.name%>">
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea class="form-control" type="text" id="description" name="manager[description]"><%= manager.description %></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label" for="wins">Wins</label>
        <input class="form-control" type="text" id="wins" name="manager[wins]" value="<%=manager.wins%>">
      </div>
      <div class="mb-3">
        <label class="form-label" for="losses">Losses</label>
        <input class="form-control" type="text" id="losses" name="manager[losses]" value="<%=manager.losses%>">
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Update Manager</button>
      </div>
    </form>
    <a href="/managers">Back to All Managers -></a>
  </div>
</div>
