<% layout('layouts/boilerplate') %>
  <h1>Managers</h1>
  <div>
    <a href="/managers/new">New Manager</a>
  </div>
  <ul>
    <% for (let manager of managers) {%>
      <div class="card mb-3">
        <div class="row">
          <div class="col-md-4">
            <% for (let img of manager.images) { %>
            <img class="img-fluid" alt="" src="<%= img.url %>">
            <% } %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= manager.name %></h5>
              <p class="card-text"><%= manager.description %></p>
              <p class="card-text">
                <small class="text-muted">Test</small>
              </p>
              <a class="btn btn-primary" href="managers/<%= manager._id %>">View <%= manager.name %></a>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </ul>
