<% layout('layouts/boilerplate') %>


<div class="row">
  <div class="col-6 offset-3">
    <div id="managerPicCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% manager.images.forEach((img, i) => { %>
        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
          <img class="d-block w-100" src="<%= img.url %>" alt="...">
        </div>
        <% }) %>
      </div>
      <% if (manager.images.length > 1) { %>
      <a class="carousel-control-prev" href="#managerPicCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <a class="carousel-control-next" href="#managerPicCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
      </a>
      <% } %>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= manager.name %></h5>
        <p class="card-text"><%= manager.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted">Location</li>
        <li class="list-group-item text-muted">Created By: <%= manager.author.username %></li>
        <li class="list-group-item">Overall Regular Season Record: <%= manager.wins %> - <%= manager.losses %></li>
        <li class="list-group-item">A third item</li>
      </ul>
      <% if (currentUser && manager.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <a href="/managers/<%= manager._id%>/edit" class="card-link btn btn-warning">Edit</a>
        <form class="d-inline" action="/managers/<%= manager._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
  </div>
</div>
